.order_table {
    margin: 0 auto;
}
.order_table thead tr td {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #2e4077;
    padding: 5px 20px;
}
.order_table thead tr {
    background: #f8f8f8;
}
.order_table tbody tr td {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #676767;
    border: none;
    padding: 7px 20px;
    text-align: center;
}
.order_table tbody tr td.price {
    color: #263769;
}
.order_table tbody tr td span.summary_price {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #64d6ff;
    position: relative;
    top: 3px;
}
