.modal_wrap {
    width: 500px;
    min-height: 410px;
    padding: 20px;
    background: #fff;
    top: 0;
    left: 0;
    position: relative;
}
.modal_title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.05em;
    color: #2e4077;
    text-align: center;
}
.field_wrap {
    margin: 20px 0;
}
.input_wrap input {
    height: 33px;
    width: calc(100% - 14px);
    border-radius: 4px;
    font-size: 16px;
    padding-left: 10px;
    display: block;
}
.close_modal {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: url("../../assets/img/close.png") no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.error {
    color: red;
    font-weight: bold;
    margin: 5px;
}
.input_wrap .error_input {
    border: 1px solid red;
}

.buttons_wrap {
    text-align: center;
}

.buttons_wrap > button {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    padding: 6px 25px;
    cursor: pointer;
    margin: 0 auto;
}
.buttons_wrap > button.reset_button {
    margin-bottom: 15px;
}
