.cart_table {
    margin: 20px auto;
    border-spacing: 0;
}
.cart_table thead tr {
    background: #f8f8f8;
}
.cart_table thead tr td {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #2e4077;
    padding: 5px 20px;
}
.cart_table tbody tr td {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    letter-spacing: 0.05em;
    color: #676767;
    border: none;
    padding: 7px 20px;
    text-align: center;
}
.cart_table tbody tr td.price {
    color: #263769;
}
.cart_table tbody tr td.summary_price_title,
.cart_table tbody tr td.summary_count_title {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #2e4077;
    padding: 5px 20px;
}
.cart_table tbody tr td.summary_count {
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #2e4077;
}
.cart_table tbody tr td.summary_price {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #64d6ff;
}
.xmark {
    max-width: 20px;
}
.xmark img {
    width: 14px;
    cursor: pointer;
}
.change_count {
    background: #2e4077;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    padding: 5px 10px;
    transition: 0.3s;
    cursor: pointer;
}
.change_count:hover {
    border: 1px solid #2e4077;
    color: #2e4077;
    background: #fff;
}
.count_input {
    height: 22px;
    width: 70px;
    margin: 0 10px;
}
