.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background: rgba(39, 68, 134);
    height: 72px;
}
.nav_wrap {
    padding-left: 15px;
}
.nav_wrap a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-align: center;
}
.cart_wrap {
    padding-right: 15px;
}
.cart_wrap a {
    text-decoration: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #ffffff;
    text-align: center;
}
