.pagination {
    margin: 30px auto;
}
.pagination a {
    cursor: pointer;
    margin: 0 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #263769;
}
.pagination .current_page {
    font-size: 20px;
    font-weight: bold;
    color: #64d6ff;
}
